:root {
  --white-text-color: #ffffff;
  --error-text-color: #BA5B5B;
  --black-color: #1b1a1d;
  --light-slate-blue-color: #aa80ff;
  --font-family-overpass: "Overpass", sans-serif;
}

body {
  background-color: var(--black-color);
  margin: 0;
}
.text-white {
  color: var(--white-text-color);
}
section {
  padding: 50px 0;
}
.large-6 {
  width: calc(50% - 15px) !important;
}
.medium-12 {
  @media (max-width: 768px) {
    width: 100%!important;
  }
}
.menu {
  display: flex;
  gap: 20px;
  @media (max-width: 1024px) {
    flex-wrap: wrap;
  }
  li {
    list-style-type: none;
  }
  a {
    text-decoration: none;
    font-family: var(--font-family-overpass);    
    font-size: 24px;
    color: var(--white-text-color);
    margin: 0;
    line-height: 110%;
    transition-duration: 0.3s;
    &:hover {
      color: var(--light-slate-blue-color)!important;
      transition-duration: 0.3s;
    }
  }
}
.header {
  padding: 20px 0;
}
.two_col_text_and_image {
  img {
    width: 100%;
    max-width: 700px;
  }
}
.header__wrap {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 60px;
  column-gap: 60px;
}
.cntr-mob {
  @media (max-width: 425px) {
    text-align: center;
  }
}
h1, h2, h5, h6, p, a {
  color: var(--white-text-color)!important;
  font-family: var(--font-family-overpass)!important;
}
h1 {
  font-size: 68px;
  font-weight: 400;
  @media (max-width: 768px) {
    font-size: 52px;
  }
}
.post-main-content {
  margin-top: 50px;
}
h2 {
  font-size: 48px;
  font-weight: 400;
  margin: 35px 0 20px;
  @media (max-width: 768px) {
    font-size: 40px;
  }
  a {
    color: var(--white-text-color);
  }
}
.post-category {
  a {
    color: var(--white-text-color) !important;
    font-size: 18px;
    font-family: var(--font-family-overpass);
    font-weight: 400;
    pointer-events: none;
  }
}
.single-post {
  img {
    width: 100%;
    object-fit: cover;
    height: 100%;
    max-height: 500px;
  }
  p {
    font-size: 16px;
    font-weight: 400;
    @media (max-width: 425px) {
      font-size: 14px;
    }
  }
}

.post {
  img {
    width: 100%;
    object-fit: cover;
    height: 350px;
    border-radius: 8px;
  }
  p {
    font-size: 20px;
    font-weight: 400;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  a {
    transition-duration: 0.3s;
    &:hover {
      color: #aa80ff!important;
      transition-duration: 0.3s;
    }
  }
}
h6 {
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
  margin: 10px 0;
}
.center {
  text-align: center;
}
.small-text {
  font-size: 24px;
  font-family: var(--font-family-overpass);
  font-weight: 400;
}
.header__container {
  align-items: center;
  display: flex;
  -moz-column-gap: 20px;
  column-gap: 20px;
  justify-content: space-between;
  width: 100%;
}
.container {
  max-width: 1360px;
  padding: 0 20px;
  margin: auto;
}
.grid-x {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 30px;
}

.ur-frontend-form .ur-form-row .ur-form-grid legend.ur-label, .ur-frontend-form .ur-form-row .ur-form-grid label.ur-label {
  font-family: var(--font-family-overpass);
  font-size: 24px;
  color: var(--white-text-color);
}
.ur-frontend-form .ur-button-container .ur-submit-button {
  background-color: transparent;
  font-family: var(--font-family-overpass);
  font-size: 24px;
  color: var(--white-text-color);
  border: 2px solid var(--white-text-color);
  border-radius: 4px;
}
.ur-frontend-form {
  border: none;
  .ur-button-container {
    margin-top: 50px;
  }
}
#user-registration {
  background-color: transparent;
  label {
    font-family: var(--font-family-overpass);
    font-size: 24px;
    color: var(--white-text-color);
  }
}
.lost_password a {
  font-family: var(--font-family-overpass);
  font-size: 18px;
  color: var(--white-text-color);
  font-style: italic;
}
.user-registration-Button {
  background-color: transparent;
  font-family: var(--font-family-overpass);
  font-size: 24px;
  color: var(--white-text-color);
  border: 2px solid var(--white-text-color) !important;
  border-radius: 4px;
}
.user-registration-error li {
  font-family: var(--font-family-overpass);
  font-size: 18px;
  color: var(--error-text-color);
  a {
    color: var(--white-text-color);
  }
}
.ur-frontend-form .ur-form-row .ur-form-grid legend,
.ur-frontend-form .ur-form-row .ur-form-grid label,
.user-registration-password-strength.strong {
  font-family: var(--font-family-overpass);
  font-size: 18px;
}
